.ex {
    &-single-post {
        &__content {
            @apply flex mt-28 px-10;
            &-left {
                @apply w-2/3;
                &-thumbnail {
                    @apply relative overflow-hidden mb-8 rounded-xl transition-all ease-in-out duration-300;
                    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
                    img {
                        @apply w-full h-[400px] object-cover transition-all ease-in-out duration-300;
                    }
                    &-info {
                        @apply absolute left-0 bottom-0 right-0 transition-all ease-in-out duration-300 z-10 p-8;
                        &::after {
                            content: '';
                            @apply bg-white left-0 right-0 bottom-0 w-full h-0 absolute -z-10  transition-all ease-in-out duration-300  rounded-xl;
                        }
                        span {
                            @apply text-sm text-white bg-primary font-medium py-1 px-3 inline-block rounded-sm mb-3;
                        }
                        &-title {
                            @apply text-4xl text-secondary mb-5;
                        }
                        &-a_c {
                            @apply flex items-center gap-5;
                            &-author {
                                @apply flex items-center gap-2;
                                img {
                                    @apply w-10 h-10 rounded-full object-cover;
                                }
                            }
                            p {
                                @apply text-black text-sm uppercase;
                            }
                        } 
                    }
                    &:hover {
                        .post-img {
                            transform: scale(1.2);
                                @apply transition-all ease-in-out duration-300;
                        }
                        .ex-single-post__content-left-thumbnail-info {
                            @apply pb-10;
                            &::after {
                                @apply h-full border-x-2 border-b-2 border-primary transition-all ease-in-out duration-300;
                            }
                        }
                    }
                }
                &-content {
                    @apply p-5 rounded-xl bg-white mb-8;
                    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
                }
                &-author {
                    @apply p-5 rounded-xl bg-white mb-8;
                    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
                    &-head {
                        @apply flex items-center gap-5 mb-5;
                        img {
                            @apply w-20 h-20 rounded-full object-cover;
                        }
                        p {
                            @apply text-sm mb-1;
                        }
                        h4 {
                            @apply uppercase;
                        }
                    }
                }
                &-comment {
                    @apply p-5 rounded-xl bg-white mb-8;
                    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
                    &-title {
                        @apply mb-8;
                    }
                    &-items {
                        @apply flex flex-col gap-5;
                        &-item {
                            @apply flex gap-4;
                            
                            &-author-img {
                                @apply w-[10%];
                                img {
                                    @apply w-16 h-16 rounded-full object-cover;
                                }
                            }
                            &-content {
                                @apply w-5/6;
                                h4 {
                                    @apply mb-2 uppercase;
                                }
                                p {
                                    @apply mb-2
                                }
                                span {
                                    @apply text-sm;
                                }
                            }
                        }
                    }
                }
                &-add-comment {
                    @apply p-5 rounded-xl bg-white mb-8;
                    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
                    &-title {
                        @apply mb-8;
                    }
                    &-content {
                        textarea {
                            @apply w-full h-44 rounded-md border border-gray-300;
                        }
                        &-btn {
                            @apply flex items-center gap-3 mt-5;
                            i {
                                @apply text-lg text-white;
                            }
                        }
                    }
                }
            }
            &-right {
                @apply w-1/3 pl-6;
            }
        }
    }
}